<div class="row">
  <div class="span6 offset1 columns">
    <a href="<?=$ActivityLink1?>">
      <img src="img/maze/0.gif" height="300px" width="300px">
      <p><%= ACTIVITY_1 %></p>
    </a>
  </div><!-- /col -->
  <div class="span6 columns" >
    <a href="<?=$ActivityLink2?>">
      <img src="img/round_pong/table.png" height="300px" width="300px">
      <p><%= ACTIVITY_2 %></p>
    </a>
  </div><!-- /col -->
</div><!-- /row -->
<div class="row">
  <div class="span6 offset1 columns">
    <a href="<?=$ActivityLink3?>">
      <img src="img/whackamole/mole.gif" height="300px" width="300px">
      <p><%= ACTIVITY_3 %></p>
    </a>
  </div><!-- /col -->
  <div class="span6 columns" >
    <a href="<?=$ActivityLink4?>">
      <img src="img/hangman/hangman8.png" height="300px" width="300px">
      <p><%= ACTIVITY_4 %></p>
    </a>
  </div><!-- /col -->
</div><!-- /row -->