<ul class="nav secondary-nav"> 
  <li class="menu"> 
    <a href="#" class="menu">Sign out &amp; more...</a> 
    <ul class="menu-dropdown"> 
      <li><a onclick="changePassword()">Change Password</a></li> 
      <li><a href="/logout">Sign Out</a></li> 
    </ul> 
  </li> 
</ul> 