<script type="text/javascript" src="/whackamole.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#menuLinkActivity3").addClass("active");
  });
</script>
<div class="row">
  <div id="mainContent" class="span14 offset1 columns">
    <table id="excitingTable">
    <tr>
    <td><img src="/img/whackamole/hole.jpg" height="175" width="175"/></td>
    <td><img src="/img/whackamole/hole.jpg" height="175" width="175"/></td>
    <td><img src="/img/whackamole/hole.jpg" height="175" width="175"/></td>
    </tr>
    <tr>
    <td><img src="/img/whackamole/hole.jpg" height="175" width="175"/></td>
    <td><img src="/img/whackamole/hole.jpg" height="175" width="175"/></td>
    <td><img src="/img/whackamole/hole.jpg" height="175" width="175"/></td>
    </tr>
    <tr>
    <td><img src="/img/whackamole/hole.jpg" height="175" width="175"/></td>
    <td><img src="/img/whackamole/hole.jpg" height="175" width="175"/></td>
    <td><img src="/img/whackamole/hole.jpg" height="175" width="175"/></td>
    </tr>
    </table>
    <input type="button" onclick="displayInstruction()" value="Instructions" />
    <input type="button" onclick="start()" value="Start" id="startButton" />
    <input type="button" onclick="checkScore()" value="Check Score" id="scoreButton" />
  </div><!-- /col -->
</div><!-- /row -->